%nav#navbar-menu.navbar.navbar-fixed-top.navbar-black
  .container
    .navbar-header.page-scroll
      %button{:type=>'button', :class=>'navbar-toggle', 'data-toggle'=>'collapse', 'data-target'=>'#bs-example-navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img.nav-logo{:src => "/assets/text-logo-dark.png"}/
    #bs-example-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => root_url, class: controller.controller_name == "welcome" ? "active":""} HOME
        %li
          %a{:href => admin_products_path, class: controller.controller_name == "products" ? "active":""} ADMIN
        %li
          %a{:href => "#"} ABOUT US
        %li
          %a{:href => "#"} HOW IT WORKS
        %li
          %a{:href => "#"} SUPPORT
        %li
          %a{:href => "#"} REGISTER
        %li
          %a{:href => "#"} LOGIN
        %li
          %a.ship-now{:href => "#"} SHIP NOW
.header-bg
  .container.hero
    %h2.banner Simplify the way you travel
    .col-md-4.text-center.col-centered{:style=>"margin-top:20px;"}
      %a#launch-btn.btn.btn-secondary.calculate-btn.btn-block Launch Calculator